flows/My_1st_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that adds, updates, or deletes the service appointment attendee record from a group service appointment.</description>
        <name>SaveServiceAppointmentAttendees</name>
        <label>Save Service Appointment Attendees</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>saveServiceAppointmentAttendees</actionName>
        <actionType>saveServiceAppointmentAttendees</actionType>
        <connector>
            <targetReference>IsModeIndividual</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenAddServiceAppointmentAttendees</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeesFields</name>
            <value>
                <elementReference>ServiceAppointmentAttendeeInformation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unenrollUrl</name>
            <value>
                <elementReference>unenrollUrlPrefix</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveServiceAppointmentAttendees</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>createdServiceAppointmentAttendeeCount</assignToReference>
            <name>createdCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>updatedServiceAppointmentAttendeeCount</assignToReference>
            <name>updatedCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>deletedServiceAppointmentAttendeeCount</assignToReference>
            <name>deletedCount</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Sets ServiceAppointmentId to the service appointment record ID to which the flow user wants to add service appointment attendees.</description>
        <name>SetServiceAppointmentIDVariable</name>
        <label>Set Service Appointment ID Variable</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenAddServiceAppointmentAttendees</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the value that indicates that the service appointment mode is Group.</description>
        <name>Group</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Group</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores a value that indicates that this flow is invoked individually and a supporting confirmation screen must be used to display the service appointment attendee enrollment summary.</description>
        <name>IndividualMode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </constants>
    <constants>
        <name>MODE_COMPOSITE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Composite</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines if the mode is individual by checking if flowExecutionMode is Individual.</description>
        <name>IsModeIndividual</name>
        <label>Is Mode Individual?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsIndividualMode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowExecutionMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IndividualMode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScrnDplySvcApptAttendeeEnrollmentSummary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>My 1st flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My 1st flow</label>
    <overriddenFlow>runtime_appointmentbooking__AddAttnd</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <screens>
        <description>Allows the flow user to select a contact, lead, or person account and add it as an attendee to the service appointment.</description>
        <name>ScreenAddServiceAppointmentAttendees</name>
        <label>Add Service Appointment Attendees</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SaveServiceAppointmentAttendees</targetReference>
        </connector>
        <fields>
            <name>ComponentAddServiceAppointmentAttendees</name>
            <extensionName>runtime_appointmentbooking:attendees</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessages</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>totServiceAppointmentAttendeeCreateCount</assignToReference>
                <name>addedCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>totServiceAppointmentAttendeeDeleteCount</assignToReference>
                <name>deletedCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>totServiceAppointmentAttendeeUpdateCount</assignToReference>
                <name>updatedCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointmentAttendeeInformation</assignToReference>
                <name>serviceAppointmentAttendees</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the service appointment attendee enrollment summary that includes the number of added, updated, and removed attendees from the group service appointments.</description>
        <name>ScrnDplySvcApptAttendeeEnrollmentSummary</name>
        <label>Display Service Appointment Attendee Record Enrollment Summary</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CpntDplySvcApptAttendeeEnrollmentSummary</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>createSuccessCount</name>
                <value>
                    <elementReference>createdServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createTotalCount</name>
                <value>
                    <elementReference>totServiceAppointmentAttendeeCreateCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteSuccessCount</name>
                <value>
                    <elementReference>deletedServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteTotalCount</name>
                <value>
                    <elementReference>totServiceAppointmentAttendeeDeleteCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateSuccessCount</name>
                <value>
                    <elementReference>updatedServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateTotalCount</name>
                <value>
                    <elementReference>totServiceAppointmentAttendeeUpdateCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>Group</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetServiceAppointmentIDVariable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the number of created service appointment attendee records.</description>
        <name>createdServiceAppointmentAttendeeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the number of deleted service appointment attendee records.</description>
        <name>deletedServiceAppointmentAttendeeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the developer name of the email template that’s sent to the service appointment attendee for enrollment or unenrollment.</description>
        <name>emailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value that defines the execution mode of the flow.</description>
        <name>flowExecutionMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>IndividualMode</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of a service appointment record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>A JSON string containing field-value pairs of the service appointment attendee record, such as name, contact, email, added to the service appointment.</description>
        <name>ServiceAppointmentAttendeeInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the service appointment record to which the service appointment attendees are to be added.</description>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the number of service appointment attendee records that were submitted to be created.</description>
        <name>totServiceAppointmentAttendeeCreateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the number of service appointment attendee records that were submitted to be deleted.</description>
        <name>totServiceAppointmentAttendeeDeleteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the number of service appointment attendee records submitted to be updated.</description>
        <name>totServiceAppointmentAttendeeUpdateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the prefix for the URL that allows the flow user to unenroll from the service appointment.</description>
        <name>unenrollUrlPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the number of service appointment attendee records that were updated.</description>
        <name>updatedServiceAppointmentAttendeeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
